@font-face {
  font-family: Mont-Balack, sans-serif;
  src: url('../fonts/Mont-Black.ttf');
}
body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
}

@import './header.scss';
@import './carousel.scss';
@import './container.scss';
@import './productCard.scss';
@import './hotPrices.scss';
@import './sliderBtn.scss';
@import './logo.scss';
@import './footer.scss';
@import './utils/reset.scss';
@import './utils/vars.scss';
