.phonesPage {
  font-family: Mont, sans-serif;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #313237;
    margin-bottom: 24px;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #89939A;
  }

}