.sliderBtn {
  width: 32px;
  height: 32px;
  border: 1px solid #B4BDC4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    border: 1px solid #313237;
  }

  &__img {

    &--left {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &--right {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__disabled {
    border: 1px solid #E2E6E9;

    &:hover {
      border: 1px solid #E2E6E9;
    }
  }
}